
<h1> Listes de nos voyages !</h1>

<section>
  <form [formGroup]="selectDestForm" (ngSubmit)="onSubmit(selectDestForm.value)">

    <select formControlName="country">
      <option value="">---</option>
      <option *ngFor="let destination of destinationsList | async">{{ destination.country }}</option>
    </select>

    <button class="button" type="submit">sélectionner</button>

  </form>
</section>
<div *ngFor="let destination of destinationsListSelect | async">

    <h2>{{destination.country}}</h2>
    <app-voyages [destination]="destination" [trips]="destination.trips"></app-voyages>

</div>
