<h3>Informations du voyage </h3>
<ul>
  <li>Description de la restauration: {{ trip.descriptiveRestauration }} </li>
  <li> Prix par personne: {{ trip.pricePerPers}} </li>
  <li> Durée du séjour: {{ trip.duration }} </li>
</ul>

<h2>Saisie d'une reservation</h2>

<button class="button"><a routerLink="/reservation"> Revenir à la liste des reservations </a></button>


<form [formGroup]="reservationForm" (ngSubmit)="simuler(reservationForm.value)">
<!--
  <label for="comment"> id : </label>
  <input placeholder="Entrez l'id" type="Long" formControlName="id" required>
-->
  <label for="comment"> Nombre de personnes : </label>
  <input placeholder="Entrez le nombre de personnes" id = "nbpr" type="Long" formControlName="bedRoomNumber">

  <label for="comment"> date : </label>
  <input placeholder="Entrez la date" type="date" formControlName="date" required>

  <label for="comment"> pensionType : </label>
  <input placeholder="Entrez le pensionType" type="any" formControlName="pensionType">

  <label for="comment"> paymentSet : </label>
  <input placeholder="Entrez l'paymentSet" type="any" formControlName="paymentSet" >


  <button type="submit">simuler</button>
</form>

<h3>prix global : {{priceGlob}}</h3>

