<h1>Informations du voyage </h1>
<ul>
  <li><strong>Description de la restauration: </strong>{{ trip.descriptiveRestauration }} </li>
  <li> <strong> par personne: </strong>{{ trip.pricePerPers}} </li>
  <li> <strong>Durée du séjour: </strong> {{ trip.duration }} </li>
</ul>

<h2>Saisie d'une reservation</h2>

<button class="button"><a routerLink="/reservation"> Revenir à la liste des reservations </a></button>

<form [formGroup]="reservationForm" (ngSubmit)="simuler(reservationForm.value)">
<!--
  <label for="comment"> id : </label>
  <input placeholder="Entrez l'id" type="Long" formControlName="id" required>
-->
  <div>
    <label for="nbpr"> Nombre de personnes : </label>
    <input placeholder="Entrez le nombre de personnes" id = "nbpr" type="Long" formControlName="bedRoomNumber" required>
  </div>
  <div>
    <label for="date"> date de départ: </label>
    <input id="date" placeholder="Entrez la date" type="date" formControlName="date" required>
  </div>
  <div>
    <label for="pensionType"> Type de pension: </label>
    <select formControlName="pensionType" id="pensionType">
      <option value=""> pension </option>
      <option value="breakfast"> petit déjeuner </option>
      <option value="halfPension"> demi-pension </option>
      <option value="completePension"> pension complète  </option>
      <option value="allInclusive"> All inclusive  </option>
    </select>
  </div>
  <div>
    <button type="submit"> Simuler</button>
  </div>
  <div>
    <button (click)="onClick(reservationForm.value)" class="valider"> Valider </button>
  </div>
</form>

<h3 id="prix">Prix global : {{priceGlob}}</h3>

