<h1>Page de réservation!</h1>

<!--
<form [formGroup]="filterForm" (ngSubmit)="onFilter(filterForm.value)">
  <label >Id</label>
  <input type="String" id="idSelected" formControlName="idFilterSelected">
  <button>Filtrer par id</button>
</form>
--->

<div>
  <button class="button" routerLink="../reservationadd">
    Ajouter une réservation
  </button>
</div>

<body>
  <table>
    <tr>
      <th>id</th>
      <th>date</th>
      <th>Nbre de personnes</th>
      <th>Prix total</th>
      <th>Type de pension</th>
      <th>Participants</th>
      <th>Paiement</th>
      <th>Supprimer ?</th>
    </tr>

    <tr *ngFor="let reservation of reservationList | async ">
      <td>{{ reservation.id }}</td>
      <td>{{ reservation.date }}</td>
      <td>{{ reservation.bedRoomNumber }}</td>
      <td>{{ reservation.globalPrice }}</td>
      <td>{{ reservation.pensionType }}</td>

      <td>
        <button class="button" routerLink="../clientcreate" (click)="transfertReservation(reservation)">
          affecter des participants
        </button>
      </td>

      <td>
        <button class="button" routerLink="../payment">Paiement</button>
      </td>
    </tr>
  </table>
</body>
