/* You can add global styles to this file, and also import other style files */
app-destination form{
  display: flex;
  flex-direction: row;
  padding : 10px;
  margin: 10px;
  width : 50px;
}
app-destination button{

  margin-left: 10px;
  margin-right: 10px;

}
app-destination h1{
  text-align: center;
  color: brown;
  background-color: whitesmoke;
}
app-destination h2{
  color: blue;
}
app-voyages .description{
  font-size: 2em;
  color: brown;
  margin-top : 3px;
}
app-voyages .ligne {
  display: flex;
  flex-direction: row;
}
app-voyages div{
  margin: 20px
}
