/* You can add global styles to this file, and also import other style files */
app-destination form{
  display: flex;
  flex-direction: row;
  padding : 10px;
  margin: 10px;
  width : 50px;
}
app-destination button{

  margin-left: 10px;
  margin-right: 10px;

}
app-destination h1, app-clientcreate h1{
  text-align: center;
  color: brown;
  background-color: whitesmoke;
}
app-destination h2, app-clientcreate h2{
  color: blue;
}
app-voyages .description{
  font-size: 2em;
  color: brown;
  margin-top : 3px;
}
app-voyages .ligne {
  display: flex;
  flex-direction: row;
}
app-voyages div{
  margin: 20px;
}
app-clientcreate section{
  display: flex;
  flex-direction: row;
  margin : 20px;
}
app-clientcreate button{
  margin : 20px;
}
app-clientcreate section div{
 margin:10px;
}
app-reservationadd form {
  display: flex;
  flex-direction: column;
  padding : 10px;
  margin: 10px;
  width : 200px;
}
app-reservationadd button{
  margin : 20px;
}

app-reservationadd div{
  margin-top : 20px;
}

app-reservation table,tr,th,td {
  color: black;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
